<div class="message <%= message.role %>" id="<%= dom_id(message) %>">
  <div class="markdown-content">
    <%= markdown(message.content) %>
  </div>
  <% if message.user? && message.status == "pending" %>
    <div class="pt-2 pb-1 px-2 mt-3 rounded-[24px] bg-gray-200 w-fit">
      <div class="status relative text-center w-10 h-5" id="wave">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="sr-only">Typing…</span>
      </div>
    </div>
  <% end %>
</div>