<div class="message <%= message.role %>" id="<%= dom_id(message) %>">
  <div class="markdown-content">
    <%= markdown(message.content) %>
  </div>
  <% if message.user? && message.status == "pending" %>
    <div class="status">
      Waiting for response...
    </div>
  <% end %>
</div>