<div class="min-h-screen flex">
  <%= render "sidebar" %>

  <main class="w-full relative">
    <%= render "how_to_use" %>
    <div class="flex-1 flex items-center justify-center absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2 w-full max-w-screen-md">
    <%= render "new_dialog_form" %>
    </div>
  </main>
</div>